.sidebar{
    width:20%;
    background-color: #f6f6f6;
    height:calc(100vh - 62px);
    padding: 14px;
}

.sidebar ul{
    list-style: none;
}


.sidebar li a {
    display: block;
    color: #333;
    padding: 7px;
    margin-bottom: 10px;
    font-size: 18px;
    text-decoration: none;
}